<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My first phaser app</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/builds/bundle.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <h1>Pirated Tacos!</h1>
    </header>
    <main>
      <div id="phaser-game">

      </div>
    </main>
    <footer></footer>
  </body>
</html>
